
doctype html
html(lang = 'en')

  block vars

  include partials/head.pug

  body.bg-light
  
    include partials/navbar.pug
   
    include partials/authors.pug
    section.container
      block canvas

    section.container.mt-4
      div.row
        div.col
          h2 #{example.title.toUpperCase()}&ensp;|&ensp;Source Code Breakdown
          p.lead Example using #[a(href = 'https://github.com/cginternals/webgl-operate') webgl-operate] by 
            +authors(example.authors)
            |#{'.'}
          hr

          block breakdown


    script(src = 'js/webgl-operate.js')
    script(src = example.target + '.js')
    include partials/foot.pug
